# Local terraform directories
.terraform/
**/.terraform/
.terraform.lock.hcl
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
**/*.tfstate.lock.info

# Global Secrets (Covers all folders)
*.tfvars
*.tfvars.json
.env
*.pem

# Provider Specific Secrets
**/gcp-keys.json
**/terraform.tfvars

# testing file
**.test