# Local terraform directories
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

# Credentials and secrets
.env
*.pem

# Ignore terraform files in any directory
**/.terraform/
**/*.tfstate
**/*.tfstate.backup
**/*.tfstate.lock.info
**/.terraform.lock.hcl

# Credentials
**/*.pem
**/terraform.tfvars