# Local terraform directories
**/.terraform.lock.hcl
.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
**/.terraform.lock.hcl
**/*.tfstate.lock.info

# Credentials and secrets
.env
*.pem
**/terraform.tfvars

# GCP Secrets
**/gcp-keys.json
# testing file
**.test